<h2>Formular</h2>
<form #activityForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form">
    <mat-label>Titel</mat-label>
    <input class="form-control" matInput required="required" placeholder="Ex. you@example.com" [(ngModel)]="title" name="title">
  </mat-form-field>
  <mat-form-field class="form">
    <mat-label>Schreib was nettes:</mat-label>
    <textarea class="form-control" matInput placeholder="Hey, hast du Lust, was zusammen zu machen?" [(ngModel)]="description" name="description"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Wann?</mat-label>
    <input class="form-control" matInput [matDatepicker]="picker" [(ngModel)]="date" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>


  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select><!-- Vielleicht besser als liste mit + button? -->
      <mat-option value="option">Freunde</mat-option>
      <mat-option value="option">Noch Mehr Freunde</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <button type="submit" mat-flat-button>Fertig</button>

</form>
